
**/node_modules
**/dist
**/build
**/coverage
**/.vite

.git
.gitignore
.vscode
.idea

**/.env
**/.env.*
!**/.env.example

**/Dockerfile*
docker-compose*.yml
.dockerignore
.github
scripts

README.md
**/*.log
**/npm-debug.log*
.DS_Store
Thumbs.db